GOOGLE_CLOUD_PROJECT="sixth-radar-506906-i1"
GOOGLE_CLOUD_LOCATION="global"
GOOGLE_GENAI_USE_VERTEXAI="TRUE"
CRON_SECRET="super_secret_cron_token_123"

# Google Workspace Tool Configs
INTERNAL_MCP_URL="http://localhost:8080/sse"
EXPENSE_SHEET_ID="your_sheet_id_here"
BRAIN_DUMP_DOC_ID="your_doc_id_here"
